body{
  font-family: 'varela round'; sans-serif;
  background-color: plum;
  width: 50%;

  border: dotted 3px yellow;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  


  
  
}