*{
  margin:0;
  padding: 0;
  border:none;
}
body {
  background-color: black;
}

#wrapper {
max-width:1200px;
  backgroud-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-bottom: 1em;
  line-height:1.5em;
  
}

h1 img { max-width: 100%;
  
}

header {
  padding: 2em;
  background-color: #000;
  background: linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(241,109,218,0) 33%),
    url ("Jane The Virgin/JTC (copy).jpg") no repeat top right/ 75%
}

.lead {
  color: #fff;
  width: 25em;
  
}

.button {
  color: #fff;
  text-decoration: none;
  border: solid 1px #fff;
  padding: 10px 20px; /* top/bottom left/right */
  border-radius: 5x;
  background-image: url("playcircle.svg");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 25px;

    }
 
  
   nav{
   background-color: lightblue;
     padding-top: 0.8em;
     padding-bottom: 0.8em;
     
   }      
 nav ul li a { 
   color:white;}

nav a:hoover {
  text-decoration: underline;
  
}

li { 
  display:inline;
  margin-keft: 2em;

}


.card { width: 226px;}

.card p { font-size: 0.875em;
        height: 3em;
        }

.card {
background-color: hotpink;
  padding:2em;
  margin:1em;
  
}

.container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}