*{
  margin:0;
  padding: 0;
  border:none;
}
body {
  background-color: black;
  font-family:  arial, sans-serif;
  
}

#wrapper {
max-width:1200px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-bottom: 1em;
  line-height:1.5em;

}

h1 img { max-width: 100%;
  
}

header {
  padding: 2em;
  background-color: #000;
  background: linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(241,109,218,0) 33%),
    url("JTV1.jpg") no-repeat top right/ 75%
}

.lead {
  color: #fff;
  width: 18em;
  
}

.btn {
  border-radius: 40px;
  border: 0;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0.8rem 0;
  padding:  1rem 1.5rem;
  white-space: nowrap;
  background: hotpink;
  color:  #fff;
  cursor:  pointer;

    }



nav {
   background-color: hotpink;
     padding-top: 0.8em;
     padding-bottom: 0.8em;

     
   }      
 nav ul li a { 
   color:white;
   font-weight: 650;
   text-decoration: none;

 }

nav a:visited { 
  color:purple;
 }

nav a:hover { 
  text-decoration: underline;
  color: purple;
  
}


li { 
  display:inline;
  margin-left: 1em;
  border-right:  solid 1px #fff;
  padding:  0 1.5em;

}

section { margin: 2em; }

footer { margin: 1em; }

.col {
  width: 48%;
}

.col-left {
  float:  left;
}

.col-right {
  float: right;
}

footer { 
clear: both;
 }


.tv-14 {
  border: solid 1px #000;
  padding: 0 3px;
  font-size: smaller;
}

main {
  margin-bottom: 3em;
  overflow: auto;
}

.HD {
  border: solid 1px #000;
  border-radius:  40px;
  padding:  0 3px;
  font-size:  0.7em;
  font-weight: 700;
}



.card { width: 226px;}

.card p { font-size: 0.875em;
  margin: 1em;
        
        }

.card {
background-color: #696969;
color: white;
  margin:1em;
  
}

.episode-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:  1em;
}

.card h3{ margin: 0.5em;

}

.card img{ width:100%; }